{% extends 'common_app/base.html' %}

{% block main_area %}

<div class="row">
    <div class="col-lg-3 hidden-mobile">
        {% include 'common_app/base_left_top.html' %}
        <br>
    </div>
    <div class="col-lg-9">
        <h1>내 맘대로 만드는 다이어리</h1>

        <br>

        <ul>
            <li>2021.12.20 : 가계부 1차 개발 완료</li>
            <ul>
                <li>가계부 월별 조회 및 요약 정보 제공</li>
                <li>카테고리 조회, 추가, 변경, 제거 기능 제공</li>
                <li>가계부 조회, 추가, 변경, 제거 기능 제공</li>
                <li>가계부 월별 엑셀 다운로드 기능 제공</li>
            </ul>
            <br>
            <li>2021.12.31 : 자유게시판 1차 개발 완료</li>
            <ul>
                <li>게시글 조회, 추가, 변경, 제거 기능 제공</li>
                <li>각 게시글에 대해 댓글 조회, 추가, 변경, 제거 기능 제공</li>
                <li>게시글 및 댓글 제어는 자신이 작성한 내용에 대해서만 가능</li>
                <li>공지사항은 관리자만 작성 가능</li>
            </ul>
        </ul>
    </div>
</div>



{% endblock %}