<br><br>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div>
            <div class="card">
                <div class="card-header">
                    <span class="badge bg-danger">경고</span> 권한 없음
                </div>
                <div class="card-body">
                    <div>
                        <p>로그인이 필요한 메뉴입니다</p>
                    </div>
                    <hr class="style2">
                    <div class="text-end">
                        <a
                            class="btn btn-success btn-sm float-right"
                            role="button"
                            href="/login"
                        >
                            <i class="fas fa-user-check">&nbsp;&nbsp;로그인 하러 가기</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>