{% extends 'common_app/base.html' %}

{% load bootstrap5 %}

{% load humanize %}

{% block main_area %}

<div class="row">
    <div class="col-3">
        {% include 'community_app/base_left.html' %}
    </div>
    <div class="col-9">
        <br>
        <div class="col text-end">
            <a
                class="btn btn-secondary btn-sm"
                role="button"
                href="/community"
            >
                <i class="fas fa-caret-up">&nbsp;&nbsp;이전글</i>
            </a>
            <a
                class="btn btn-secondary btn-sm"
                role="button"
                href="/community"
            >
                <i class="fas fa-caret-down">&nbsp;&nbsp;다음글</i>
            </a>
            <a
                class="btn btn-secondary btn-sm"
                role="button"
                href="/community"
            >
                <i class="fas fa-backward">&nbsp;&nbsp;목록</i>
            </a>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <span class="badge bg-secondary">
                    {{ post_obj.category_id }}&nbsp;&nbsp;
                    <i class="fas fa-caret-right"></i>
                </span>

                <h3>{{ post_obj.title }}</h3>
                {{ post_obj.created_by }}
                <hr class="style1">
                {{ post_obj.content }}
                <hr class="style1">
                <h4>댓글</h4>

                {% for comment in comment_objs %}
                    {{ comment.comment }}
                {% endfor %}

                <div class="CommentWriter">
                    <form action="add_comment/" method="POST">
                        {% csrf_token %}
                        <textarea class="form-control" name="comment" id="comment" cols="30" rows="3"></textarea>
                        <br>
                        <div class="text-end">
                            <button type="submit" class="btn btn-success">등록</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}