{% extends 'common_app/base.html' %}

{% load bootstrap5 %}

{% load humanize %}

{% block main_area %}

    {% if user.is_authenticated %}

        <div class="row">

            <div class="col-lg-3 not-mobile">
                {% include 'account_book_app/base_category_list.html' %}
            </div>

            <div class="col-lg-9">

                <div class="row">
                    <div class="col-lg-4">
                        <h3>{{ account_year }}년 {{ account_month }}월 가계부</h3>
                    </div>
                    <div class="col-lg-8">
                        {{ date_form.media }}
                        <form method="post" autocomplete="off">
                            <div class="row">
                                {% csrf_token %}
                                <div class="col-7">
                                    {% bootstrap_field date_form.input_date show_label=False %}
                                </div>
                                <div class="col-5">
                                    <button id="get_accounts_btn" type="submit" class="btn btn-warning float-right">
                                        <i class="fas fa-search-dollar">&nbsp;&nbsp;불러오기</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <hr class="style1">

                <div class="text-end">
                    <a
                        class="btn btn-success btn-sm float-right"
                        role="button"
                        data-bs-toggle="modal"
                        data-bs-target="#addAccountModal"
                    >
                        <i class="fas fa-dollar-sign">&nbsp;&nbsp;항목 추가</i>
                    </a>

                    <a
                        id="excel-download-btn"
                        class="btn btn-success btn-sm float-right"
                        role="button"
                    >
                        <i class="fas fa-file-excel">&nbsp;&nbsp;엑셀로 다운받기</i>
                    </a>
                </div>

                <table class="table table-hover table-sm" id="account_book_table">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col" width="5%">#</th>
                            <th class="text-center" scope="col" width="20%">날짜</th>
                            <th class="text-center" scope="col" width="13%">범주</th>
                            <th class="text-center not-mobile" scope="col" width="45%">설명</th>
                            <th class="text-center" scope="col" width="17%">금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in account_objs %}
                        <tr onClick="location.href='/account_book/{{ account.id }}/account_detail'">
                            <th scope="row" class="text-end">{{ forloop.counter }}</th>
                            <td class="text-center">{{ account.date | date:"Y.m.d (D)"}}</td>
                            <td class="text-center">{{ account.category_id.name }}</td>
                            <td class="not-mobile"
                                style="
                                max-width: 100px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;"
                            >{{ account.description }}</td>
                            <td
                                class="text-end px-4"
                                style="
                                    {% if account.amount >= 0 %}
                                        color:blue;
                                    {% else %}
                                        color:red;
                                    {% endif %}
                                "
                            >
                                {{ account.amount | intcomma }} 원
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="not-mobile"></th>
                            <th class="text-center" colspan="3">총 수입</th>
                            <td class="text-end px-4" style="color:blue;">{{ income | intcomma }} 원</td>
                        </tr>
                        <tr>
                            <th class="not-mobile"></th>
                            <th class="text-center" colspan="3">총 지출</th>
                            <td class="text-end px-4" style="color:red;">{{ expense | intcomma }} 원</td>
                        </tr>
                        <tr>
                            <th class="not-mobile"></th>
                            <th class="text-center" colspan="3">총 결산</th>
                            <td class="text-end px-4">{{ total | intcomma }} 원</td>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>

        <!-- Add Account Modal -->
        {% include 'account_book_app/base_add_account_modal.html' %}

    <!--  로그인 하지 않은 상태라면  -->
    {% else %}

        {% include 'common_app/login_alert.html' %}

    {% endif %}

<script>
    $('#excel-download-btn').click(function() {
        alert("다운로드 합니다");
        var wb = XLSX.utils.table_to_book(document.getElementById('account_book_table'), {sheet:"sheet1", raw:true});
        XLSX.writeFile(wb, ('가계부_{{ account_year }}_{{ account_month }}.xlsx'));
    });

    $('#del_category_btn').click(function() {
        alert("가계부 항목의 해당 카테고리 정보도 함께 삭제됩니다");
    });
</script>

<script>
    $('#get_accounts_btn').click(function() {
        var date = $('input_date').text;
<!--        alert(date);-->
    });
</script>

{% endblock %}