{% load bootstrap5 %}

<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryModalLabel">범주 항목 추가</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/account_book/add_category/" method="post">
                {% csrf_token %}
                <div class="modal-body">

                    {% bootstrap_form category_form layout="horizontal" %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-primary float-right">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>